footer {
    padding: 3.2rem;
    text-align: center;
    background-color: var(--dark-color);
    color: var(--text-primary);
    margin-top: auto;
    position: fixed;
    /* bottom: 0; */
}
