.nav-container{
    max-width: 140rem;
    background-color: aqua;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    
}

ul{
    display: flex;
    gap: 3.2rem;
}