.navbar-container{
    max-width: 140rem;
    background-color: rgb(66, 194, 151);
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.navbar-container ul{
    display: flex;
    gap: 3.2rem;
}